/* Define custom font for the page */
@font-face {
    font-family: CroissantOne;
    src: url('../fonts/CroissantOne-Regular.ttf') format('truetype'),
         url('../fonts/CroissantOne-Regular.otf') format('opentype');
}

/* Apply box-sizing and font to all elements on the page */
* {
    box-sizing: border-box;
    font-family: 'CroissantOne', Times, serif;
}

/* Set full height for HTML and body elements */
html, body {
    height: 100%;
}

/* Reset left and right margin for rows */
.row {
    margin-left: 0;
    margin-right: 0;
}

/* Styling for the header background */
.bg-header {
    height: calc(100% - 57px);
    background: url('../images/bg-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Styling for card titles */
.card-title {
    font-size: 1.25rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

/* Styling for the heart icon before the favorite button */
.favourite-btn::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 0;
    content: "\f08a"; /* Unicode for the heart outline icon */
    margin-right: 0.25rem;
}

/* Hide the heart icon before the favorite button when active */
.favourite-btn.active::before {
    display: none;
}

/* Styling for the filled heart icon after the favorite button */
.favourite-btn::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f004"; /* Unicode for the heart icon */
    margin-right: 0.25rem;
    display: none;
}

/* Show the filled heart icon after the favorite button when active */
.favourite-btn.active::after {
    display: flex;
}

/* Show trash icon for "delete" class */
.favourite-btn.active.delete::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f2ed"; /* Unicode for the trash icon */
    margin-right: 0.25rem;
}

/* Styling for the favorite button */
.favourite-btn {
    text-decoration: none;
    font-size: 1.8rem;
    display: inline-block;
}

/* Styling for meal cards with pointer cursor */
.meal-card {
    cursor: pointer;
}

/* Styling for the loader with backdrop */
.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
